# Dependencies
node_modules/

# Next.js build output
.next/
out/
.vercel/

/.next

# Env files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Typescript
*.tsbuildinfo

# Turbo
.turbo/



# Coverage
coverage/

# Editors & system files
.DS_Store
.idea/
.vscode/

# Internal docs (ignore going forward)
README.md
PROJECT_OVERVIEW.md
COMPLIANCE_TODO.md
